In [7]:
import numpy as np, pandas as pd

data_dict = {
                "a" : [1,2,3,4,5] * 40,
                "b" : np.random.randint(1,100,200)
                }

data = pd.DataFrame(data_dict)
data

     a   b
0    1  52
1    2  15
2    3  75
3    4  29
4    5  99
..  ..  ..
195  1  33
196  2   5
197  3  65
198  4  52
199  5  77

[200 rows x 2 columns]

In [11]:
data["b"].describe()

count    200.00000
mean      51.76500
std       27.52705
min        2.00000
25%       29.00000
50%       53.00000
75%       73.00000
max       99.00000
Name: b, dtype: float64

In [14]:
data.corr()

          a         b
a  1.000000  0.050603
b  0.050603  1.000000

In [13]:
data.corr()

          a         b
a  1.000000  0.050603
b  0.050603  1.000000

In [17]:
data = pd.read_csv(r"C:\Users\tanzh\Documents\Python\Pandas for Everyone\datasets\scientists.csv")
data

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [21]:
data["Age"].mean()

59.125

In [24]:
data[data["Age"] > data["Age"].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician