In [1]:
import pandas as pd, seaborn as sns
tips = sns.load_dataset("tips")

In [2]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
tips.info()

# strings in pandas are called object
# category data type represents categorical variables and it differ from the generic object data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

category

In [4]:
tips["sex_string"] = tips["sex"].astype(str)

In [5]:
print(tips.sex.dtype)
print(tips.sex_string.dtype)

category
object

In [6]:
tips["total_bill"] = tips["total_bill"].astype(str) # to change the datatype of the series 
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null object
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_string    244 non-null object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.2+ KB

In [7]:
tips["total_bill"] = tips["total_bill"].astype(float) # to change it back to float

# to_numeric

In [8]:
tips_some_data = tips.head(10)
tips_some_data.loc[[1,3,5,7], "total_bill"] = "missing"
tips_some_data

  total_bill   tip     sex smoker  day    time  size sex_string
0      16.99  1.01  Female     No  Sun  Dinner     2     Female
1    missing  1.66    Male     No  Sun  Dinner     3       Male
2      21.01  3.50    Male     No  Sun  Dinner     3       Male
3    missing  3.31    Male     No  Sun  Dinner     2       Male
4      24.59  3.61  Female     No  Sun  Dinner     4     Female
5    missing  4.71    Male     No  Sun  Dinner     4       Male
6       8.77  2.00    Male     No  Sun  Dinner     2       Male
7    missing  3.12    Male     No  Sun  Dinner     4       Male
8      15.04  1.96    Male     No  Sun  Dinner     2       Male
9      14.78  3.23    Male     No  Sun  Dinner     2       Male

In [9]:
tips_some_data.info() # the total bill column is now a string object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
total_bill    10 non-null object
tip           10 non-null float64
sex           10 non-null category
smoker        10 non-null category
day           10 non-null category
time          10 non-null category
size          10 non-null int64
sex_string    10 non-null object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 968.0+ bytes

In [10]:
tips_some_data["total_bill"].astype(float)

ValueError: could not convert string to float: 'missing'

In [11]:
pd.to_numeric(tips_some_data["total_bill"])

ValueError: Unable to parse string "missing" at position 1

In [12]:
tips_some_data["total_bill_numeric"] = pd.to_numeric(tips_some_data["total_bill"], errors="ignore")
tips_some_data

,total_bill,tip,sex,smoker,day,time,size,sex_string,total_bill_numeric
0,16.99,1.01,Female,No,Sun,Dinner,2,Female,16.99
1,missing,1.66,Male,No,Sun,Dinner,3,Male,missing
2,21.01,3.50,Male,No,Sun,Dinner,3,Male,21.01
3,missing,3.31,Male,No,Sun,Dinner,2,Male,missing
4,24.59,3.61,Female,No,Sun,Dinner,4,Female,24.59
5,missing,4.71,Male,No,Sun,Dinner,4,Male,missing
6,8.77,2.00,Male,No,Sun,Dinner,2,Male,8.77
7,missing,3.12,Male,No,Sun,Dinner,4,Male,missing
8,15.04,1.96,Male,No,Sun,Dinner,2,Male,15.04
9,14.78,3.23,Male,No,Sun,Dinner,2,Male,14.78

In [13]:
tips_some_data["total_bill_numeric_"] = pd.to_numeric(tips_some_data["total_bill"], errors="coerce")
tips_some_data

,total_bill,tip,sex,smoker,day,time,size,sex_string,total_bill_numeric,total_bill_numeric_
0,16.99,1.01,Female,No,Sun,Dinner,2,Female,16.99,16.99
1,missing,1.66,Male,No,Sun,Dinner,3,Male,missing,NaN
2,21.01,3.50,Male,No,Sun,Dinner,3,Male,21.01,21.01
3,missing,3.31,Male,No,Sun,Dinner,2,Male,missing,NaN
4,24.59,3.61,Female,No,Sun,Dinner,4,Female,24.59,24.59
5,missing,4.71,Male,No,Sun,Dinner,4,Male,missing,NaN
6,8.77,2.00,Male,No,Sun,Dinner,2,Male,8.77,8.77
7,missing,3.12,Male,No,Sun,Dinner,4,Male,missing,NaN
8,15.04,1.96,Male,No,Sun,Dinner,2,Male,15.04,15.04
9,14.78,3.23,Male,No,Sun,Dinner,2,Male,14.78,14.78

In [14]:
tips_some_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
total_bill             10 non-null object
tip                    10 non-null float64
sex                    10 non-null category
smoker                 10 non-null category
day                    10 non-null category
time                   10 non-null category
size                   10 non-null int64
sex_string             10 non-null object
total_bill_numeric     10 non-null object
total_bill_numeric_    6 non-null float64
dtypes: category(4), float64(2), int64(1), object(3)
memory usage: 1.1+ KB

In [15]:
tips_some_data["total_bill_numeric_do"] = pd.to_numeric(tips_some_data["total_bill"], errors="coerce", downcast="float")
tips_some_data

,total_bill,tip,sex,smoker,day,time,size,sex_string,total_bill_numeric,total_bill_numeric_,total_bill_numeric_do
0,16.99,1.01,Female,No,Sun,Dinner,2,Female,16.99,16.99,16.99
1,missing,1.66,Male,No,Sun,Dinner,3,Male,missing,NaN,NaN
2,21.01,3.50,Male,No,Sun,Dinner,3,Male,21.01,21.01,21.01
3,missing,3.31,Male,No,Sun,Dinner,2,Male,missing,NaN,NaN
4,24.59,3.61,Female,No,Sun,Dinner,4,Female,24.59,24.59,24.59
5,missing,4.71,Male,No,Sun,Dinner,4,Male,missing,NaN,NaN
6,8.77,2.00,Male,No,Sun,Dinner,2,Male,8.77,8.77,8.77
7,missing,3.12,Male,No,Sun,Dinner,4,Male,missing,NaN,NaN
8,15.04,1.96,Male,No,Sun,Dinner,2,Male,15.04,15.04,15.04
9,14.78,3.23,Male,No,Sun,Dinner,2,Male,14.78,14.78,14.78

In [16]:
tips_some_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
total_bill               10 non-null object
tip                      10 non-null float64
sex                      10 non-null category
smoker                   10 non-null category
day                      10 non-null category
time                     10 non-null category
size                     10 non-null int64
sex_string               10 non-null object
total_bill_numeric       10 non-null object
total_bill_numeric_      6 non-null float64
total_bill_numeric_do    6 non-null float32
dtypes: category(4), float32(1), float64(2), int64(1), object(3)
memory usage: 1.1+ KB

In [19]:
tips_some_data.memory_usage(deep=False)

Index                    128
total_bill                80
tip                       80
sex                      106
smoker                   106
day                      202
time                     106
size                      80
sex_string                80
total_bill_numeric        80
total_bill_numeric_       80
total_bill_numeric_do     40
dtype: int64

In [20]:
tips_some_data.memory_usage(deep=True)

Index                    128
total_bill               512
tip                       80
sex                      238
smoker                   209
day                      411
time                     215
size                      80
sex_string               614
total_bill_numeric       512
total_bill_numeric_       80
total_bill_numeric_do     40
dtype: int64

In [22]:
tips_some_data['day'].cat.codes

0    3
1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
dtype: int8